<nav class="uk-text-center">
	
	<!--Show add/edit if on index/show respectively-->
	<% if current_page?("/renters") %>
		<%= link_to 'Add new renter', new_renter_path, class: "uk-button uk-button-default" %>
	<% elsif params[:action] == "show" %>
		<%= link_to 'Update info', edit_renter_path(@renter), class: "uk-button uk-button-default" %>
	<% end %>
	
</nav>