<%= render :partial => 'renter_nav' %>

<h2>Add a User</h2>

<%= form_for @renter do |f| %>

  <%= render :partial => 'renter_form', :locals => {:f => f} %>
  
  <section class="formElem">
    <%= f.button "Add User", :type => "submit" %>
  </section>

<% end %>



