<nav class="miniNav">
  <h1>Renter Info</h1>
  <a href="<%= renters_path %>">Return to Renters</a>
</nav>

<!-- Lists information about the current user -->
<h2><%= @renter.firstName %> <%= @renter.lastName %></h2>
<p1>
  This is where relevant information would go.
</p1>
