<% @pageName = "About" %>
<h1 class="stretch-none uk-text-center">Tulane's Bike Rental Program</h1>

<div class="stretch uk-child-width-1-2" uk-grid>
<!--<div class="stretch uk-flex">-->
	
	<section>
		
		<h2>About</h2>
		<p>Tulane University is gearing up to launch a university bike share program. This new and affordable transportation system aims to facilitate movement for students and faculty around campus.</p>
		<p>The exact start date will be announced soon™. Check out the <del>interactive</del> map to view all of our current bike stations.</p>
		
		<h3>Signing Up</h3>
		<p>We make use of Google's third-party authentication, so logging in is as easy as one<sup>*</sup> click with your google account! We only ask that you provide contact information<sup>&#8224;</sup> on initial sign-up.</p>
		<p><small><i>
				*Click count not guaranteed. Your mileage may vary.<br>
				&#8224;We <del>promise</del> <ins>try</ins> not to spam!<br>
		</i></small></p>
		<blockquote cite="http://www.chicagomanualofstyle.org/16/ch03/ch03_sec077.html" id="finePrint" class="hide">
			* (asterisk; but do not use if p values occur in the table; see 3.78)
			† (dagger)
			‡ (double dagger)
			§ (section mark)
			|| (parallels)
			# (number sign, or pound)
		</blockquote>
		
		<h3>Pricing</h3>
		<p>Each of our bikes has an associated <em>base fare</em>. In addition, each hour of a rental will be <em>10%</em> of the bike's <em>base fare</em>.</p>
	
	</section>
	
	<section>
		
		<div class="uk-flex uk-flex-column uk-height-1-1">
			
			<h2 class="stretch-none">Map</h2>
			<div id="stationMap" class="stretch"></div>
			
		</div>
		
	</section>
	
</div>



<!--Prepares the Google Map-->
<script>
  function initMap() {
  	// Google Maps GPS for Tulane
    // var tulaneUniversity = {lat: 29.9393071, lng: -90.1230268};
    // Guesstimate on Center
    // var tulaneUniversity = {lat: 29.940332, lng: -90.120376};
    // Rough Approximation of Center
    var tulaneUniversity = {lat: 29.9400129, lng: -90.1201976};
    var rosenParking0 = {lat: 29.946941, lng: -90.115031};
    var rosenParking1 = {lat: 29.946698, lng: -90.114944};
    var hertzCenter = {lat: 29.944296, lng: -90.116163};
    var tennisCourts = {lat: 29.943295, lng: -90.117849};
    var willowStone = {lat: 29.942874, lng: -90.118368};
    var willow = {lat: 29.942501, lng: -90.118559};
    var willowPJs = {lat: 29.942024, lng: -90.118549};
    var OISS = {lat: 29.942332, lng: -90.118807};
    var dibollParking = {lat: 29.942434, lng: -90.117226};
    var aronApartments = {lat: 29.942056, lng: -90.117696};
    var healthCenter = {lat: 29.942463, lng: -90.120094};
    var carolineRichardson = {lat: 29.941946, lng: -90.120387};
    var woldenbergArt = {lat: 29.941503, lng: -90.120757};
    var josephineLouise = {lat: 29.942123, lng: -90.121889};
    var newcombArtSide = {lat: 29.941868, lng: -90.121860};
    var newcombDixonSide = {lat: 29.941339, lng: -90.122253};
    var greenbaum = {lat: 29.941567, lng: -90.123042};
    var dance = {lat: 29.940997, lng: -90.122629};
    var dixon = {lat: 29.940882, lng: -90.121895};
    var library = {lat: 29.940365, lng: -90.121767};
    var jonesLibrary = {lat: 29.939297, lng: -90.121763};
    var jonesFerret = {lat: 29.939141, lng: -90.121270};
    var lawSchool = {lat: 29.938546, lng: -90.120005};
    var lbc = {lat: 29.940127, lng: -90.119963};
    var mayerFront = {lat: 29.940825, lng: -90.119285};
    var mayerBack = {lat: 29.941192, lng: -90.119538};
    var warrenBack = {lat: 29.941308, lng: -90.119860};
    var warrenSide = {lat: 29.941699, lng: -90.119657};
    var sohoButler = {lat: 29.941782, lng: -90.119128};
    var butler = {lat: 29.941834, lng: -90.118677};
    var phelps = {lat: 29.941403, lng: -90.118525};
    var irby = {lat: 29.940614, lng: -90.118774};
    var bruff = {lat: 29.941224, lng: -90.118728};
    var wall = {lat: 29.941148, lng: -90.117794};
    var patterson = {lat: 29.940319, lng: -90.118088};
    var sharp = {lat: 29.939509, lng: -90.118793};
    var bschoolSide = {lat: 29.939658, lng: -90.119057};
    var mcalister = {lat: 29.939841, lng: -90.119375};
    var monroe = {lat: 29.938950, lng: -90.118750};
    var stern = {lat: 29.938371, lng: -90.120891};
    var israel = {lat: 29.938329, lng: -90.121421};
    var boggs = {lat: 29.938009, lng: -90.120900};
    var makerspace = {lat: 29.937055, lng: -90.120991};
    var serviceLearning = {lat: 29.938163, lng: -90.121688};
    var stanleyThomas = {lat: 29.936812, lng: -90.121519};
    var richardsonBack = {lat: 29.936385, lng: -90.121441};
    var richardsonSide = {lat: 29.936049, lng: -90.121633};
    var hebertBack = {lat: 29.936774, lng: -90.122453};
    var hebertSide = {lat: 29.936556, lng: -90.122754};
    var englishHistory = {lat: 29.936206, lng: -90.122814};
    var gibsonBack = {lat: 29.935659, lng: -90.122949};
    var architecture = {lat: 29.935605, lng: -90.121986};
    var anthropology = {lat: 29.934942, lng: -90.122404};
    var economics = {lat: 29.935888, lng: -90.123164};
    var pump00 = {lat: 29.941320, lng: -90.118315};
    var pump01 = {lat: 29.938093, lng: -90.121159};
    
    var map = new google.maps.Map(document.getElementById('stationMap'), {
      zoom: 16,
      center: tulaneUniversity
    });
    
    var pinColor = "FE7569";
    var marker00 = new google.maps.Marker({
      position: rosenParking0,
      map: map
    });
    marker00.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker01 = new google.maps.Marker({
      position: rosenParking1,
      map: map
    });
    marker01.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker02 = new google.maps.Marker({
      position: hertzCenter,
      map: map
    });
    marker02.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker03 = new google.maps.Marker({
      position: tennisCourts,
      map: map
    });
    marker03.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker04 = new google.maps.Marker({
      position: willowStone,
      map: map
    });
    marker04.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker05 = new google.maps.Marker({
      position: willow,
      map: map
    });
    marker05.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker06 = new google.maps.Marker({
      position: willowPJs,
      map: map
    });
    marker06.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker07 = new google.maps.Marker({
      position: OISS,
      map: map
    });
    marker07.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker08 = new google.maps.Marker({
      position: dibollParking,
      map: map
    });
    marker08.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker09 = new google.maps.Marker({
      position: aronApartments,
      map: map
    });
    marker09.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker10 = new google.maps.Marker({
      position: healthCenter,
      map: map
    });
    marker10.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker11 = new google.maps.Marker({
      position: carolineRichardson,
      map: map
    });
    marker11.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker12 = new google.maps.Marker({
      position: woldenbergArt,
      map: map
    });
    marker12.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker13 = new google.maps.Marker({
      position: josephineLouise,
      map: map
    });
    marker13.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker14 = new google.maps.Marker({
      position: newcombArtSide,
      map: map
    });
    marker14.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker15 = new google.maps.Marker({
      position: newcombDixonSide,
      map: map
    });
    marker15.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker16 = new google.maps.Marker({
      position: greenbaum,
      map: map
    });
    marker16.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker17 = new google.maps.Marker({
      position: dance,
      map: map
    });
    marker17.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker18 = new google.maps.Marker({
      position: dixon,
      map: map
    });
    marker18.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker19 = new google.maps.Marker({
      position: library,
      map: map
    });
    marker19.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker20 = new google.maps.Marker({
      position: jonesLibrary,
      map: map
    });
    marker20.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker21 = new google.maps.Marker({
      position: jonesFerret,
      map: map
    });
    marker21.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker22 = new google.maps.Marker({
      position: lawSchool,
      map: map
    });
    marker22.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker23 = new google.maps.Marker({
      position: lbc,
      map: map
    });
    marker23.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker24 = new google.maps.Marker({
      position: mayerFront,
      map: map
    });
    marker24.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker25 = new google.maps.Marker({
      position: mayerBack,
      map: map
    });
    marker25.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker26 = new google.maps.Marker({
      position: warrenBack,
      map: map
    });
    marker26.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker27 = new google.maps.Marker({
      position: warrenSide,
      map: map
    });
    marker27.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker28 = new google.maps.Marker({
      position: sohoButler,
      map: map
    });
    marker28.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker29 = new google.maps.Marker({
      position: butler,
      map: map
    });
    marker29.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker30 = new google.maps.Marker({
      position: phelps,
      map: map
    });
    marker30.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker31 = new google.maps.Marker({
      position: irby,
      map: map
    });
    marker31.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker32 = new google.maps.Marker({
      position: bruff,
      map: map
    });
    marker32.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker33 = new google.maps.Marker({
      position: wall,
      map: map
    });
    marker33.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker34 = new google.maps.Marker({
      position: patterson,
      map: map
    });
    marker34.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker35 = new google.maps.Marker({
      position: sharp,
      map: map
    });
    marker35.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker36 = new google.maps.Marker({
      position: bschoolSide,
      map: map
    });
    marker36.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker37 = new google.maps.Marker({
      position: mcalister,
      map: map
    });
    marker37.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker38 = new google.maps.Marker({
      position: monroe,
      map: map
    });
    marker38.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker39 = new google.maps.Marker({
      position: stern,
      map: map
    });
    marker39.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker40 = new google.maps.Marker({
      position: israel,
      map: map
    });
    marker40.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker41 = new google.maps.Marker({
      position: boggs,
      map: map
    });
    marker41.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker42 = new google.maps.Marker({
      position: makerspace,
      map: map
    });
    marker42.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker43 = new google.maps.Marker({
      position: serviceLearning,
      map: map
    });
    marker43.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker44 = new google.maps.Marker({
      position: stanleyThomas,
      map: map
    });
    marker44.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker45 = new google.maps.Marker({
      position: richardsonBack,
      map: map
    });
    marker45.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker46 = new google.maps.Marker({
      position: richardsonSide,
      map: map
    });
    marker46.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker47 = new google.maps.Marker({
      position: hebertBack,
      map: map
    });
    marker47.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker48 = new google.maps.Marker({
      position: hebertSide,
      map: map
    });
    marker48.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker49 = new google.maps.Marker({
      position: englishHistory,
      map: map
    });
    marker49.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker50 = new google.maps.Marker({
      position: gibsonBack,
      map: map
    });
    marker50.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker51 = new google.maps.Marker({
      position: architecture,
      map: map
    });
    marker51.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker52 = new google.maps.Marker({
      position: anthropology,
      map: map
    });
    marker52.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker53 = new google.maps.Marker({
      position: economics,
      map: map
    });
    marker53.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|71C5E8");
    var marker54 = new google.maps.Marker({
      position: pump00,
      map: map
    });
    marker54.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|55812b");
    var marker55 = new google.maps.Marker({
      position: pump01,
      map: map
    });
    marker55.setIcon("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|55812b");
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjq9zMB-HOYfC_Txh-K07d971hRuNbc6s&callback=initMap"></script>