<center>
<h2>Team Name: CAN'T</h2>
<h3>Team Members: Chris Moroz, Andre Rincon Luna, Nathan Nguen, Ted Steffens</h3>
<br>
<p>Objective: A bike rental service that allows students to sign up as renters and select bikes for rental. Renters can then check bikes back in as they are done using them.</p>
</center>
<br>
<pre>

                                                             ~~@
                                                          -  /\,
 -------- __@      __@       __@       __@      __~@     -  -|~(*)
 ----- _`\<,_    _`\<,_    _`\<,_     _`\<,_    _`\<,_  -  (*)
 ---- (*)/ (*)  (*)/ (*)  (*)/ (*)  (*)/ (*)  (*)/ (*)  ^^^          
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
</pre>