<% @pageName = "Bikes" %>
<% @pageSection = "New" %>

<%= render :partial => 'bike_nav' %>

<h2>Add a Bike</h2>

<%= simple_form_for @bike do |f| %>

  <%= render :partial => 'bike_form', :locals => {:f => f} %>
  
  <section class="formElem">
    <%= f.button :submit %>
  </section>

<% end %>



