<div class="header">
  <div class="container">

    <%= image_tag("rsz_rentul_logo.jpg") %>
    <h1>Bikes</h1>
  </div>
</div>

<div class="bike">
  <div class="container">
    <h2><%= @bike.title %></h2>

  </div>
</div>
