<nav class="miniNav">
  <h1>Bikes</h1>
  <a href="<%= bikes_path %>">Return to Bikes</a>
</nav>

<h1>The bike's availability is now <%= @newAvailability %>.</h1>
<p>Click <a href="<%= bikes_path %>/<%= @bike.id %>">here</a> to return to previous page.</p>