/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Note: layouts done with flexbox for quick setup without thought, need to convert to grid*/

/*Application Style*/

/*Variables*/
:root {
	
	/*Colors*/
	--green: #336666;
	--blue: #71C5E8;
	--gray: #dedede;
	--black: #090909;
  /*Averia+Serif+Libre:300,300i,400,400i,700,700i
  |Crimson+Text:300,300i,400,400i,700,700i
  |Expletus+Sans:400,400i,700,700i
  |Josefin+Sans:300,300i,400,400i,700,700i
  |Lato:300,300i,400,400i,700,700i
  |Merriweather:300,300i,400,400i,700,700i
  |Montserrat+Alternates:300,300i,400,400i,700,700i
  |Montserrat:300,300i,400,400i,700,700i
  |Nunito:300,300i,400,400i,700,700i
  |Open+Sans:300,300i,400,400i,700,700i
  |Raleway:300,300i,400,400i,700,700i
  |Source+Sans+Pro:300,300i,400,400i,700,700i*/
  	
	/*Fonts*/
	--headingFont: 'Righteous', 'Averia Serif Libre', sans-serif;
	--titleFont: 'Nova Round', 'Montserrat', sans-serif;
	--textFont: 'Open Sans', sans-serif;
	
	/*Sizes*/
	--headingSize: 2rem;
	
}

/*General*/
* {}
.hide {
	display: none;
}

/*Typography*/
.app {
	font-family: var(--textFont);
	color: var(--black);
}
h1, h2, h3, h4, h5, h6, p, a, span, em, strength, ul, ol, li {
	margin: 0;
}
h1 {
	text-transform: uppercase;
	font-family: var(--headingFont);
}
h2 {
	font-family: var(--titleFont);
}
a {
	color: #418FDE;
	text-decoration: none;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
a:hover, a:focus {
	color: #63B5E5;
}
.lowercase {text-transform: lowercase;}
.uppercase {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.smallcaps {text-transform: small-caps;}
.alignleft {text-align: left;}
.alignright {text-align: right;}
.aligncenter {text-align: center;}

/*Page Formatting*/
.app {
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	
	width: 100%;
	height: 100vh;
}
.app header {
	display: flex;
	flex-direction: row wrap;
	justify-content: space-between;
	
	width: 90%;
	min-height: 2.25rem;
	height: auto;
	
	margin: 1.618rem auto;
}
.app header .title {
	align-self: center;
	
	box-sizing: content-box;
	
	width: 100%;
	height: auto;
}
.title h1 {
	color: black;
}
.title h1 span {
	color: var(--green);
}
.app header nav {
	display: flex;
	flex-direction: row wrap;
	justify-content: flex-end;
	align-self: center;
	
	box-sizing: content-box;
	
	width: 100%;
	height: auto;
}
.app header nav a {
	font-size: 1.618rem;
	padding-right: 1.618rem;
}
.app header nav a:last-of-type {
	padding-right: 0;
}

.app .banner {
	text-align: center;
	
	width: 100%;
	height: auto;
	
	background-color: black;
}

.app main {
	flex-grow: 1;
	
	width: 80%;
	
	margin: 1.618rem auto;
}

.app footer {
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
	
	width: 90%;
	height: auto;
	
	margin: 1.618rem auto;
}
.app footer p {
	align-self: center;
	text-align: center;
}


/*Tables*/
table, th, td {
	border: 0.0625rem solid var(--gray);
	border-collapse: collapse;
}
table th {
	text-align: left;
	
	background: var(--blue);
	color: #FFF;
}
table tr, table td, table th {
	padding: 0.382rem 0.618rem;
}
.dispTab {
	overflow-x: auto;
}

/*Pagination*/
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0.25rem 1rem;
    line-height: 2rem;
    text-decoration: none;
    background-color: rgba(222, 222, 222, 0.5);
    /*border: 1px solid #000;*/
    /*border-radius: 50%;*/
    /*border-top-width: 0;*/
}

.pagination {
	/*border-top: none;*/
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.pagination span {
	/*border-top: none;*/
}

.pagination .first{
    padding : 0;
    float: none;
    border: none;
}
.pagination .prev {
    padding : 0;
    float: none;
    border: none;
}
.pagination .page{
    padding : 0;
    float: none;
    border: none;
}
.pagination .next{
    padding : 0;
    float: none;
    border: none;
}
.pagination .last{
    padding : 0;
    float: none;
    border: none;
}



/*
															  :~~~:
															  ::::~
   ___________________________                  NII:~:     ::IIIII~::II   ~::::
  /                           \                ?IIII??7:::::::IIIII?II::~::??~::
  | Why are you looking here? |               IIIIIII7:::::::IIIIIII7:::::II:::
  \_________________      ____/              NIIMMNIIIIIII:::IIIIIII:::IIIIIII:::::III
					\    /                  NIIMMNIIIII77::,IIIII77::,IIIIIII,::::7I$
  777                \  /                   NIIMMNIIII7:~IIIIIII7:~IIIIIIIII??I7:::~:
77...77777            \/                  I?IMMIIII?:~:IIIIIIIIIIIIIIIIIIIIIIIIII?:~:   NIIIII
77...77777                                II7MMIIIII:::IIIIIIIIIIIIIIIIIIIIIIIIIII:::    NIIII7
77.. ..:::77                              II7MMIIIII:::IIIIIIIIIIIIIIIIIIIIIIIIIII:::     :::::II
77..  .:::77                                NIIII7::IIIII:::IIIIIIIIIIIIII7:::::::::::::::::II7:~
77..  .:::77                                NIIII7::IIIII:::IIIIIIIIIIIIII7:::::::::::::::::II7:~
77::,.....77                      N??:::IIMMNIIIIIIII?7~:?IIIIIIII?::::::::IIIIIIIIIIIIIIIIII?7:~
77:::.   .77    MMMMMMMMMMMMM     NI?:::IIMMNIIIIII?I?7::IIIIIIIII?::::::::IIIIIIIIIIIIIIIIIII7:~
77:::.   MMMMMNIIII7::?IIMMMMMMM?I7::?????MMNIIIIIII:::I???I~~~~~~:IIIIIIIIIIIIIIIIIIIIIIIIIII7:~
  777MMMMMMMIIIII~:::::~::~MMMMM~~:MMMMMMMMMM~:?IIII::~~::::IIIIII?IIIIIIIIIIIIIIIIIIIIIIIIIII7:~
  777MMMMMMMIIIII::::::::::MMMMM:::MMMMMMMMMM::IIIII::::::::IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII7:~
	 MMIIIIIIIIII::::::::::IIIMMII7:::::IIMMNII:::IIIIIIIIIIIIIIIII::,II
	 MMN NIIIIIII:::::::::~:::MM~:::::::::MMMMM?I7:::::?IIII
	   MMNIIIIIII:::::::::::::MM::::::::::MMMMM?II:::~:?IIII
	   MMNIIIIIII:::::::::::::MM::::::::::MM
	   MMN??????I~~~~~~~~:::::MM~:::::::::MM
	 MMMMMMMMMMMMMMMMMMMM:::::MMII7:::::IIMM
	 MM:::IIMMMMMMMMMMII7::IIIMMMMMMMMMMMMMM
	 MM:::IIMMMMMMMMMMII7::IIIMMMMMMMMMMMMMM
	 MM:::IIIIIII::::~:::~:MMMMMMMMMMMMMMMMMMMM
	 MM777NNI?III777::7I7MMMMMMMMMMMMMMMMM7I7MM
	 MMII7MM?IIIIII7::?IIMMMMMMMMMMMMMMMMM?IIMM
	 MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	   MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
	 MMIIIIIII7MMMMMMMMMMMMMMMMMIIIIIIIIMM
	 MMIIIIIIII?IMMMMMMMMMMMMNII??IIIIIIIIMM
	 MM?IIIIIII?IMM        MMNIIIIIIIIIII?MM
=================================================================================================
=================================================================================================
=================================================================================================*/


.logo {
	fill: var(--green);
	height: var(--headingSize);
}

.user-widget {
	box-sizing: border-box;
	text-align: center;
	width: 50%;
	margin: 0 auto 1rem auto;
	padding: 2rem;
	border: 2px var(--green) solid;
}
.alert {
	box-sizing: border-box;
	text-align: center;
	width: 50%;
	margin: 0 auto 1rem auto;
	padding: 2rem;
	border: 2px red solid;
}


/*miniNav*/
.miniNav {
	display: flex;
	flex-direction: row wrap;
	justify-content: flex-start;
	align-items: baseline;
	margin-bottom: 0.5rem;
}
.miniNav a {
	padding: 0.5rem 1rem;
	border-right: 1px var(--gray) solid;
}
.miniNav a:first-of-type {
	padding-left: 0;
}
.miniNav a:last-of-type {
	border-right: none;
}

/*Display Data*/
.dataDisp {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	/*justify-content: flex-start;*/
	align-content: flex-start;
	
	width: 100%;
	
}
.dataBlock {
	position: relative;
	box-sizing: border-box;
	width: 32%;
	margin-right: 1%;
	margin-bottom: 1%;
	box-shadow: 0 0.25rem 0.25rem var(--gray);
	border-radius: 0.5rem;
}
.dataBike {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	box-sizing: border-box;
	background-color: var(--gray);
	background-color: rgba(222, 222, 222, 0.5);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	border-top: 1rem solid;
	border-bottom: 0.25rem solid;
	border-radius: 0.5rem;
}
.dataBlock:nth-child(3n) {
	margin-right: 0;
}
.dataPic {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 10rem;
}
.available {
	/*background-color: rgba(0, 255, 0, 0.5);*/
	border-color: rgba(0, 255, 0, 0.5);
}
.unavailable {
	/*background-color: rgba(222, 222, 222, 0.5);*/
	border-color: rgba(255, 0, 0, 0.5);
}

/*.dataDisp:last-of-type {*/
	
/*}*/


/*Forms*/
.app form {
	box-sizing: border-box;
	width: 50%;
	margin: 0 auto;
}
.formElem {
	box-sizing: border-box;
	width: 100%;
	margin: 0.75rem 0;
}
.formElem:first-of-type {
	margin-top: 0;
}
.formElem:last-of-type {
	margin-top: 1.50rem;
}
.formElem label {
	width: 100%;
	margin-bottom: 0.75rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.formElem input, .formElem select {
	width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border: 0.0625rem solid #6B6B6B;
  background: #FFF;
  color: #6B6B6B;
  outline: none;
}
.formElem input:hover, .formElem input:focus, .formElem select:hover, .formElem select:focus {
  outline: 0.125rem #06AB47 solid;
  border-color: #FFF;
  -webkit-transition: outline 0.2s;
  -moz-transition: outline 0.2s;
  transition: outline 0.2s;
}
.formElem button, .formElem .boot {
	font-weight: bold;
	width: auto;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  border: none;
  background: #6B6B6B;
  color: #FFF;
  outline: none;
  text-transform: uppercase;
}
.formElem button:hover, .formElem button:focus, .formElem .boot:hover, .formElem .boot:focus {
  background: #06AB47;
  border: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  outline: none;
}
#submitSect {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#create {
}

#delete {
  background: #A8493E;    
}
#delete:hover, #delete:focus {
  background: #E61700;
}


/*Station Map*/
#stationMap {
 width: 100%;
 height: 42rem;
 background-color: var(--gray);
}